*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #333; */
  display: none;

}
.logo {
  width: 100px;
}
header {
  width: 100%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  position: absolute;
  z-index: 9999;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  /* background-image: ; */
}

header nav {
  /* background-color: red; */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header ul a {
  text-decoration: none;
  color: #362312;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
header ul a:hover {
  color: #854f20;
  transition: 0.5s;
  /* font-weight: 800; */
}
.Search {
  font-size: 1.05rem;
  padding: 0 3 rem;
}
.hamburger {
  padding-left: 1.5rem;
}
.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: #63462d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  transition: 0.5s;

}
.hamburger .bar {
  position: relative;
  width: 52%;
  height: 0.1rem;
  background-color: #ffffff;
  border-radius: 2px;
}
.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  height: inherit;
  background-color: inherit;
  border-radius: 2px;
  transform: translateX(-50%);
}
.hamburger .bar::before {
  top: -0.4rem;
}
.hamburger .bar::after {
  top: 0.4rem;
}

.hamburger a:hover {
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(115, 115, 115, 0.7);
}
/* *****************complete hader part ********************** */

main {
  /* background-color: #353; */
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.parallax {
  pointer-events: none;
  /* transform: translate(-50%, -50%); */
  transition: 0.45s;

}
.bg-img {
  position: absolute;
  width: 194.44%;
  top: 1.86%;
  left: 50.69%;
  z-index: 1;
}
.fog-7 {
  z-index: 2;
  position: absolute;
  width: 131.94%;
  top: 37.65%;
  left: 70.83%;
}

.mountain-10 {
  position: absolute;
  width: 62.08%;
  top: 58.51%;
  left: 65.97%;
  z-index: 3;
}
.fog-6 {
  z-index: 4;
  position: absolute;
  width: 111.8%;
  top: 60.49%;
  left: 50.69%;
}
.mountain-9 {
  z-index: 5;
  position: absolute;
  width: 32.63%;
  top: 63.95%;
  left: 18.26%;
}
.mountain-8 {
  z-index: 6;
  position: absolute;
  width: 56.25%;
  top: 60.61%;
  left: 35.97%;
}
.fog-5 {
  z-index: 7;
  position: absolute;
  width: 31.25%;
  top: 69.75%;
  left: 51.38%;
}
.mountain-7 {
  z-index: 8;
  position: absolute;
  width: 37.36%;
  top: 65.18%;
  left: 71.18%;
}
.text {
  position: absolute;
  z-index: 9;
  top: 25.95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.text h2 {
  font-weight: 200;
  font-size: 6.5rem;
}
.text h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 0.88;
}
.mountain-6 {
  z-index: 10;
  position: absolute;
  width: 28.33%;
  top: 57.4%;
  left: 90.97%;
}
.fog-4 {
  z-index: 11;
  position: absolute;
  width: 40.97%;
  top: 77.53%;
  left: 45.83%;
}
.mountain-5 {
  z-index: 12;
  position: absolute;
  width: 43.4%;
  top: 80.86%;
  left: 59.02%;
}
.fog-3 {
  z-index: 13;
  position: absolute;
  width: 111.11%;
  top: 63.58%;
  left: 48.95%;
}
.mountain-4 {
  z-index: 14;
  position: absolute;
  width: 54.16%;
  top: 70.49%;
  left: 71.18%;
}
.mountain-3 {
  z-index: 15;
  position: absolute;
  width: 45.13%;
  top: 63.08%;
  left: 102.94%;
}
.fog-2 {
  z-index: 16;
  position: absolute;
  width: 108.33%;
  top: 68.14%;
  left: 47.91%;
}
.mountain-2 {
  z-index: 17;
  position: absolute;
  width: 47.91%;
  top: 82.59%;
  left: 28.33%;
}
.mountain-1 {
  z-index: 18;
  position: absolute;
  width: 34.72%;
  top: 52.09%;
  left: 4.79%;
}

.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  width: 41.31%;
}
.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100%;
}
.fog-1 {
  z-index: 21;
  position: absolute;
  width: 111.11%;
  top: 6.17%;
  left: 50%;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
}

/* responsive part of project */
@media (max-width: 725px) {
  .text h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .text h1 {
    font-size: 4.1rem;
    line-height: 1.1;
  }
  header ul a {
    font-size: 0.73rem;
    padding: 0 0.9rem;
  }
  .Search a {
    font-size: 0.85rem;
    padding: 0 1.8rem;
  }
  .hamburger {
    padding-left: 0.9rem;
  }
  .hamburger a {
    height: 30px;
    width: 30px;
  }
  .bg-img {
    height: initial;
    width: 311.104%;
  }
  .fog-7 {
    height: initial;
    width: 211.104%;
  }
  
  .mountain-10 {
    height: initial;
    width: 99.328%;
  }
  .fog-6 {
    height: initial;
    width: 178.88%;
  }
  .mountain-9 {
    height: initial;
    width: 52.208%;
  }
  .mountain-8 {
    height: initial;
    width: 90%;
  }
  .fog-5 {
    height: initial;
    width: 50%;
  }
  .mountain-7 {
    height: initial;
    width: 59.76%;
  }
  
  .mountain-6 {
    height: initial;
    width: 45.328%;
  }
  .fog-4 {
    height: initial;
    width: 65.552%;
  }
  .mountain-5 {
    height: initial;
    width: 69.44%;
  }
  .fog-3 {
    height: initial;
    width: 177.776%;
  }
  .mountain-4 {
    height: initial;
    width: 86.656%;
  }
  .mountain-3 {
    height: initial;
    width: 72.208%;
  }
  .fog-2 {
    height: initial;
    width: 173.328%;
  }
  .mountain-2 {
    height: initial;
    width: 76.64%;
  }
  .mountain-1 {
    height: initial;
    width: 55.552%;
  }
  
  .fog-1 {
    height: initial;
    width: 177.776%;
  }
}
@media (max-width: 520px) {
  .text h1 {
    font-size: 3.3rem;
  }
  .text h2 {
    font-size: 2.6rem;
  }
}
